<!DOCTYPE html>
<html ng-app = "FirefoxOSApp">
  <head>
    <meta charset="utf-8">
    <title>My App</title>

    <!-- App styles -->
    <link rel="stylesheet" type="text/css" href="style/app.css">
    <link href="building_blocks/style/headers.css" rel="stylesheet" type="text/css">
    <link href="building_blocks/icons/styles/media_icons.css" rel="stylesheet" type="text/css">
    <link href="building_blocks/style/lists.css" rel="stylesheet" type="text/css">

    <script defer src="js/angular.js"></script>
    <script defer src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="TodoController">
      <input type="text" ng-model="todoText" name="addTodo">
      <button ng-click="addTodo()">Add</button>
      <button ng-click="archive()">Clear</button>
      
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done">
        <span>{{todo.text}}</span>
        <button ng-click = "deleteTodo($index)">Remove Item</button>
      </li>
    
    </div>
  </body>
</html>
